<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="add-page">
    <div class="add-card">
        <h2>🔐 Login</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <p style="color:white; margin-top:15px;">
            No account? <a href="/register">Register</a>
        </p>
    </div>
</div>

</body>
</html>